<div
  class="rounded-3xl
         border border-white/10
         bg-white/5
         backdrop-blur-xl
         p-2"
>
  <input
    type="text"
    placeholder="Search notes..."
    class="w-full
           bg-transparent
           outline-none focus:ring-2 focus:ring-violet-500/50
           px-4 py-2
           text-white
           placeholder:text-slate-500"
    (input)="onInput($event)"
  />
</div>

<!-- <div class="bg-red-500 p-4">
  SEARCH COMPONENT LOADED

  <input
    type="text"
    (input)="onInput($event)"
    class="text-black"
  />
  <button
  (click)="test()"
  class="bg-blue-500 px-4 py-2"
>
  Test
</button>
</div> -->